-# %thead
-#   %tr
-#     %td.name Team
-#     - game["game"]["home"]["scoring"].each do |inning|
-#       %td.innings= inning["number"]
-#     %td.totals R
-#     %td.totals H
-#     %td.totals E
%thead
  %tr
    %td.inning R
    %td.inning H
    %td.inning E
%tbody
  %tr.away
    %td.inning= home_runs_each(game, "away", "runs")
    %td.inning= home_runs_each(game, "away", "hits")
    %td.inning= home_runs_each(game, "away", "errors")
  %tr.home
    %td.inning= home_runs_each(game, "home", "runs")
    %td.inning= home_runs_each(game, "home", "hits")
    %td.inning= home_runs_each(game, "home", "errors")
